.input
  position: relative
  width: 100%
  font-size: 12px
  input[type="number"]
    -webkit-appearance: initial
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button
      -webkit-appearance: none
      margin: 0
  &__wallet-select
    &__control
      border: none !important
      box-shadow: none !important
      width: 90px !important
  &__container
    display: flex
    align-items: center
    border: 1px solid theme('colors.main.gray-900')
    border-radius: 4px
    padding: 10px 8px
    &--error
      border-color: theme('colors.error.border')
      .input
        &__pre-icon, &__field, &__password-eye, &__password-eye-close
          color: theme('colors.error.main')
  &__label
    font-size: 12px
    line-height: 16px
    margin-bottom: 4px
  &__field
    font-size: 14px
    line-height: 20px
    font-size: theme('fontSize.body-2')
    background: none
    padding-left: 8px
    color: theme('colors.main.gray-900')
    width: 100%

    &:focus-visible
      outline-width: 0
    &::placeholder
      color: theme('colors.main.gray-400')
    &--error
      border-color: theme('colors.error.border')
    &--default
  &__pre-icon
    width: 24px
    height: 24px
    color: theme('colors.main.gray-900')
  &__error
    position: absolute
    color: theme('colors.error.main')
    bottom: -15px
    right: 0
    font-size: 12px
    line-height: 12px
  &__password
    position: absolute
    width: 26px
    height: 24px
    cursor: pointer
    right: 10px
    &::after
      width: 26px
    &--eye
    &--eye-close
      opacity: 0
  &__debit-card
    position: absolute
    top: 12px
    right: 20px
    width: 44px
    height: 35px
