.table
  width: 100%
  border-radius: 4px
  &__header, &__body
    &-th, &-td
      border: 1px solid theme('colors.primary.border')
      padding: 14px 12px
      text-align: start
    &-th
      color: theme('colors.main.gray-900')
      background: theme('colors.primary.focus')
